<p id="notice"><%= notice %></p>

<h1>Listing Libros</h1>

<table   border="1">
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Autor</th>
      <th>Editorial</th>
      <th>Genero</th>
      <th>Num ejemplar</th>
      <th>Reseña</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @libros.each do |libro| %>
      <tr>
        <td><%= libro.titulo %></td>
        <td><%= libro.autor %></td>
        <td><%= libro.editorial.editorial_name %></td>
        <td><%= libro.genero.genero_name %></td>
        <td><%= libro.num_ejemplar %></td>
        <td><%= libro.reseña %></td>
        <td><%= link_to 'Show', libro %></td>
        <td><%= link_to 'Edit', edit_libro_path(libro) %></td>
        <td><%= link_to 'Destroy', libro, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Libro', new_libro_path %>
