<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @libro.titulo %>
</p>

<p>
  <strong>Autor:</strong>
  <%= @libro.autor %>
</p>

<p>
  <strong>Editorial:</strong>
  <%= @libro.editorial.editorial_name %>
</p>

<p>
  <strong>Genero:</strong>
  <%= @libro.genero_id %>
</p>

<p>
  <strong>Num ejemplar:</strong>
  <%= @libro.num_ejemplar %>
</p>

<p>
  <strong>Reseña:</strong>
  <%= @libro.reseña %>
</p>

<%= link_to 'Edit', edit_libro_path(@libro) %> |
<%= link_to 'Back', libros_path %>
